<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SecondClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18712E3319CFE63000093CB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18712E4919CFE63000093CB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F66E4E019CD15D80065AB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F66E4FB19CD15D80065AB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
